<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crop</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <h3>Please chose your profile picture</h3>
    <input type="file" name="file"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>